@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";

}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1542401886-65d6c61db217?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 400px;
    height: 400px;
    position: relative;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.wrapper h1 {
    color: #fff;
    text-align: center;
    font-size: 2em;
}

.wrapper .input-box{
    position: relative;
    width: 310px;
    margin: 30px 0px;
    border-bottom: 2px solid #fff;
}

.wrapper .input-box input {
    width: 100%;
    height: 40px;
    background: transparent;
    outline: none;
    border: none;
    padding: 0px 40px 0px 5px;
    font-size: 1em;
    color: #fff;
}

.wrapper .input-box label {
    position: absolute;
    top: 55%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: all ease 0.5s;
}

.wrapper .input-box input:hover ~ label,
.wrapper .input-box input:valid ~ label{
    top: -4%;
}

.wrapper .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 50px;
}

.wrapper .row {
    margin: -15px 0 15px;
    font-size: 0.9em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .row label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.wrapper .row a {
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.wrapper .row a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 40px;
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: 500;
    color: #000;
    border-radius: 40px;
    margin-top: 10px;
    transition: all ease .4s;
} 

.wrapper .btn:hover {
    opacity: .8;
}

.wrapper .sign-up {
    margin-top: 20px;
    font-size: .9em;
    color: #fff;
    text-align: center;

}

.wrapper .sign-up a {
    text-decoration: none;
    font-size: 1em;
    color: #fff;
}

.wrapper .sign-up a:hover{
    text-decoration: underline;
}

@media (max-width:360px) {
    .wrapper{
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 0px;
    }

    .wrapper .input-box  {
        width: 290px;
    }
}